@using Gerador_de_testesWebApp.Models
@model RealizarTesteViewModel

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Realizar Teste";
}

<h2>@Model.Titulo</h2>
<form asp-action="Realizar" asp-route-id="@Model.TesteId" method="post">
    @for (int i = 0; i < Model.Questoes.Count; i++)
    {
        var questao = Model.Questoes[i];
        <div class="mb-4">
            <strong>@(i+1). @questao.Enunciado</strong>
            <div>
                @foreach (var alternativa in questao.Alternativas)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="radio"
                               name="Respostas[@i]" value="@alternativa.Id" id="q@i-a@alternativa.Id" required />
                        <label class="form-check-label" for="q@i-a@alternativa.Id">
                            @alternativa.Correta
                        </label>
                    </div>
                }
            </div>
        </div>
    }
    <button type="submit" class="btn btn-success">Confirmar Teste</button>
    <a class="btn btn-outline-secondary" asp-controller="Teste" asp-action="GerarPdf" asp-route-id="@Model.TesteId" target="_blank">
        <i class="bi bi-file-earmark-pdf"></i> Gerar PDF do Teste
    </a>
    <a class="btn btn-outline-secondary" asp-controller="Teste" asp-action="GerarGabaritoPdf" asp-route-id="@Model.TesteId" target="_blank">
        <i class="bi bi-file-earmark-pdf"></i> Gerar Gabarito Do Teste
    </a>
</form>